{:server {:port #long #or [#env PORT 8080]}

 :database {:dbtype   "postgresql"
            :host     #or [#env DB_HOST "localhost"]
            :port     #long #or [#env DB_PORT 5432]
            :dbname   #or [#env DB_NAME "ecommerce"]
            :user     #or [#env DB_USER "ecommerce"]
            :password #or [#env DB_PASSWORD "ecommerce"]}

 :auth {:required   #boolean #or [#env AUTH_REQUIRED false]
        :jwt-secret #or [#env JWT_SECRET "ecommerce-demo-secret-key-2024"]}}
